
:root {
    --blue-1: #426aa4;
    --purple: #8675a3;
    --pink: #e6929d;
    --orange: #e29f98;
    --red: #ef005d;
}

header {
    overflow: hidden;
}

img.headerlogo {
    display: block;
    margin: 20px auto;
}

nav {
    background-color: var(--blue-1);
    padding: 10px;
}

ul {
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0px;
}

li {
    display: inline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    background-color: var(--blue-1);
    padding: 10px;
    margin: 10px 10px 20px 10px;
    border: solid 2px var(--orange);
    filter: drop-shadow(10px 10px 0px);
    align-content: center;
}

li:hover {
    transform: translate(5px, 5px);
    filter: drop-shadow(3px 3px 0px);
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    color: black;
}

.page-on {
    text-transform: uppercase;
    font-size: 30px;
}

iframe {
    display: block;
    margin: 0 auto;
}

main {
    background-color: var(--purple);
}

/*HOME*/

main.index {
    height: 1080px;
}


/*SHOWS*/

table, 
td {
    border: #e29f98 solid;

}

/*NOTÍCIAS*/

h1 {
    margin: 0;
}

P {
    max-width: 85ch;
}

main.noticias-bloco {
    padding: 30px;
    /*background-image: url("./resouces/pictures/Logotipo.png");
    background-repeat: repeat;*/
}

.noticia {
    display: block;
    margin: 0 auto 30px auto;
    max-width: 800px;
    padding: 30px;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.noticia img {
    display: block;
    max-width: 800px;
}

/*SHOWS*/

main.shows {
    padding: 30px;
    display: flex;
    justify-content: center;
}

table {
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: none;
}

th {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

tr {
    padding: 10px;
}

td {
    padding: 20px;
    border: none;

}